@tailwind base;
@tailwind components;
@tailwind utilities;
@impo


/* @media (prefers-color-scheme: dark) {
  :root {
    background-color: #121212;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #fff;
  }
} */

body {
  font-family: Inter;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

.darkBackground {
  background-color: #121212;
  height: 100vh;
  color: #fcfcfc;
  padding: 0px 56px;
}


.lightBackground {
  background-color: #fff;
  height: 100vh;
  color: #1a1a1a;
  padding: 0px 56px;
}


