.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;

    .title {
        color: #101828;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }
    .provider{
        padding: 24px;
        background-color: #F9FAFB;
        border-radius: 12px;
        border: 1.5px solid #EAECF0; 

    }
}