.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  m
  .containerToast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    width: fit-content;
    gap: 12px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #f2f2f2;
    background: #fff;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.068);
    position: fixed;
    .text {
      color: #1a1a1a;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0.1px;
    }
  }
}
