.mainPostsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .tableContainer {
    width: 100%;
    background-color: #ffffff;
    border-radius: 12px;
    border: solid 1.5px #eaecf0;
    overflow: hidden;
    background-color: #f9fafb;

    .tableToolbar {
      padding: 20px;
      border-bottom: solid 1.5px #eaecf0;
      .toolbarItems {
        width: 100%;
        justify-content: space-between;
        display: flex;
      }
    }

    .tableTitle {
      display: flex;
      gap: 8px;
      justify-content: space-between;
      align-items: center;
      padding: 24px;
      width: 100%;

      .leftSide {
        display: flex;
        gap: 12px;

        .text {
          color: #101828;
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
        }

        .badgeNumber {
          color: #344054;
          text-align: center;
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          padding: 4px;
          border: solid 1.5px #eaecf0;
          border-radius: 6px;
        }
      }

      .rightSide {
        display: flex;
        gap: 14px;

        .deleteBtn {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .rowLayout {
      padding: 24px;
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 18px;

        .leftSide {
          display: flex;
          align-items: center;
          gap: 12px;

          .checkBox {
            input {
              width: 20px;
              height: 20px;
              border-radius: 6px;
            }
          }

          .title {
            .text {
              color: #101828;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 20px;
            }

            .link {
              color: #475467;
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
            }
          }
        }

        .rightSide {
          display: flex;
          gap: 14px;
          .publishDate {
            width: 155px;

            color: var(--gray-600, #475467);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
          }

          .status {
            width: 130px;
          }

          .Functional {
            color: #121319;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            cursor: pointer;
            display: flex;
            align-items: center;

            .draft {
              padding: 10px 20px;
              border-radius: 8px;
              background: #e8e8e8;
              transition: all 0.3s;
              &:hover {
                background: #d3d3d3;
              }
            }
            .draft {
                padding: 10px 20px;
                border-radius: 8px;
                background: #e8e8e8;
                transition: all 0.3s;
                &:hover {
                  background: #d3d3d3;
                }
              }

            .view {
              padding: 10px 20px;
              border-radius: 8px;
              background: #e8e8e8;
              transition: all 0.3s;
              &:hover {
                background: #d3d3d3;
              }
            }
            .publish {
              padding: 10px 20px;
              border-radius: 8px;
              color: #F3F3F3;
              background: #2E97A7;
              transition: all 0.3s;
              &:hover {
                background: #d3d3d3;
              }
            }
          }
        }
      }
    }
  }
}
