.checkBox {
    display: flex;
    input{
        cursor: pointer;
    }
    .text {
        margin-left: 5px;
        color:  #344054;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
}