
@font-face {
    font-family: 'Inter';
    src: url('Inter-Black.woff2') format('woff2'),
        url('Inter-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.woff2') format('woff2'),
        url('Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'IRANYekanFN';
    src: url('IRANYekanFN-Light.woff2') format('woff2'),
        url('IRANYekanFN-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
} */
/* 
@font-face {
    font-family: 'IRANYekanFN ExtraBlack';
    src: url('IRANYekanFN-ExtraBlack.woff2') format('woff2'),
        url('IRANYekanFN-ExtraBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'IRANYekanFN';
    src: url('IRANYekanFN.woff2') format('woff2'),
        url('IRANYekanFN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Inter';
    src: url('Inter-Thin.woff2') format('woff2'),
        url('Inter-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.woff2') format('woff2'),
        url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.woff') format('woff2'),
        url('Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}