.table {
    width: 100%;
    background-color: #EAECF0;
    padding: 20px;
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid #d1d1d1;
    .tableHeader{
        display: flex;
    }
}