.darkBackground {
    background-color: #121212;
    height: 100vh;
    color: #fcfcfc;
}

.lightBackground {
    background-color: #fff;
    height: 100vh;
    color: #1a1a1a;
}
.containerPadding{
    padding: 56px 56px;
}
@media only screen and (max-width: 600px) {
    .containerPadding{
        padding: 32px 16px;
    }
  
  }