.itemsContainer{
 .header{
    .title{
        color: var( #101828);

        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }
 }   
}



