.itemsContainer {
    .header {
        .title {
            color: var(#101828);

            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
        }

        .description {
            color: var(#475467);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }
    .container{
        background-color: F9FAFB;
    }
}