.itemsContainer {
    .header {
        .title {
            color: var(#101828);

            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
        }

        .description {
            color: var(#475467);
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }

    .container {
        background-color: #fff;
        border: solid 1px #EAECF0;
        padding: 24px;
        margin-top: 24px;
        border-radius: 12px;

        .item {
            width: 100%;
            max-height: 44px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            border: 1px solid var(--gray-300, #D0D5DD); 
            pa

            .content {
                display: flex;
                justify-content: space-between;

                .title {
                    margin-left: 8px;
                    color: var(#101828);
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }

            .toolbar {
                display: flex;
                justify-content: space-between;

                .detailBtn {
                    cursor: pointer;
                    color: var(#475467);
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    margin-right: 8px;
                }
            }
        }
    }

}